<div class="container bg-light py-4">
  <h1>Orders</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @orders.each do |order| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Order ID: <%= order.id %></h5>
            <p class="card-text"><strong>User:</strong> <%= order.user.name %></p>
            <p class="card-text"><strong>Status:</strong> <%= order.status %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'View', order_path(order), class: 'btn btn-primary me-2' %>
            <% if order.status != "Served"%>
              <%= link_to 'Mark as Served', mark_as_served_path(order), method: :patch, class: 'btn btn-success me-2' %>
              <%#= link_to 'Generate Invoice', generate_invoice_path(order), method: :patch, class: 'btn btn-warning' %>
            <% end %> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
